<div id="<%= dom_id bookshelf %>">
  <p>
    <strong>Public:</strong>
    <%= bookshelf.public %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= bookshelf.owner_id %>
  </p>

  <p>
    <strong>Book count:</strong>
    <%= bookshelf.book_count %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= bookshelf.name %>
  </p>

</div>
