
  <p>
    <strong>Public:</strong> 
    <% if(bookshelf.public?) %>
      <%= "Yes" %>
    <% else %>
      <%= "No" %>
    <% end %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= bookshelf.owner.username %>
  </p>

  <p>
    <strong>Book count:</strong>
    <%= bookshelf.book_count %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= bookshelf.name %>
  </p>
