<div class="row">
  <div class="col">
    <h1>
      <% if @user.shelf_count > 1%>
        <%= @user.username %>'s shelves
      <% else %>
        <%= @user.username %>'s shelf
      <% end %>
    </h1>
  </div>
  <div class="col text-right">
    <%= button_to "New bookshelf", new_bookshelf_path, method: :get %>
  </div>
</div>

<% if @user.shelf_count >= 1%>
  <ul>
    <% @bookshelves.each do |bookshelf|%>
      <div class="card mb-3" style="width: 18rem;">
        <div class="card-header">
          <%= link_to bookshelf.name, bookshelf %>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> Number of books: <%= bookshelf.book_count%> </li>
          <li class="list-group-item">Created this shelf: <%= bookshelf.created_at.strftime("%b%e %Y %I:%M%p") %> </li>
          <li class="list-group-item">Last created: <%= bookshelf.created_at.strftime("%b%e %Y %I:%M%p") %></li>
          <li class="list-group-item">Last updated: <%= bookshelf.updated_at.strftime("%b%e %Y %I:%M%p") %></li>
          <li class="list-group-item"><%= button_to "Edit your bookshelf", edit_bookshelf_path(bookshelf.id), method: :get %></li>
        </ul>
      </div>
    <% end %>
  </ul>
<% else %>
  <h2> You have no shelves yet! </h2>
<%end%>
