<div class="row">
  <div class="col">
    <h1>
      <% if @user.shelf_count > 1%>
        <%= @user.username %>'s shelves
      <% else %>
        <%= @user.username %>'s shelf
      <% end %>
    </h1>
  </div>
  <div class="col text-right">
    <%= button_to "New bookshelf", new_bookshelf_path, method: :get %>
  </div>
</div>

<% if @user.shelf_count >= 1%>
  <div class="row">
    <% @bookshelves.each do |bookshelf|%>
      <div class="col-md-6">
        <div class="card" style="width: 35rem; margin-bottom: 20px">
          <div class="card-header bg-transparent border-success">
            <h5> <%= link_to bookshelf.name, bookshelf_path(bookshelf) %></h5>
          </div>
          <div class="card-body">
            <div class="row">
            </div>
            <div class="row">
              <div class="col-6">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Number of books:</li>
                  <li class="list-group-item">Created this shelf: </li>
                  <li class="list-group-item">Last updated: </li>
                </ul>
              </div>
              <div class="col-6">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><strong><%= bookshelf.book_count%></strong></li>
                  <li class="list-group-item"><strong><%= bookshelf.created_at.strftime("%b%e %Y %I:%M%p") %></strong></li>
                  <li class="list-group-item"><strong><%= bookshelf.updated_at.strftime("%b%e %Y %I:%M%p") %></strong></li>
                </ul>
              </div>
              <div class="card-footer bg-transparent border-success"><%= button_to "Edit your bookshelf", edit_bookshelf_path(bookshelf.id), method: :get %></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h2> You have no shelves yet! </h2>
<%end%>
