<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Bookshelf:</strong>
    <%= book.bookshelf_id %>
  </p>

  <p>
    <strong>Cover:</strong>
    <%= book.cover %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= book.public %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= book.notes %>
  </p>

  <p>
    <strong>Fav:</strong>
    <%= book.fav %>
  </p>

  <p>
    <strong>Rec:</strong>
    <%= book.rec %>
  </p>

</div>
